@import url('https://fonts.googleapis.com/css?family=Lato');
@import 'utilities/vars';
@import 'utilities/common';

.remove-from-flow {
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}