<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/styles.css">
    <title>Geekwise Angular Class Overview</title>
</head>
<body>
    <div class="main-body">
        <header>
            <h1>Angular Class Notes</h1>
        </header>
        <main>
            <p>This is a site create to help students taking the Angular class at Geekwise Academy. I will do my best to update this with lessons that we go over in class so students can come back to this and review on the topics we covered. There's going to be a lot of things, after all.</p>
            <p>Also, expect several pictures of my dog, Lucky. It's going to happen, you've been warned.</p>
            <ol>
                <a href="01-ngif.html"><li>*ngIf - Conditionals in your HTML?!</li></a>
                <a href="02-forof.html">
                    <li>for..of - Preparing for *ngFor</li>
                </a>
                <a href="03-ngfor.html">
                        <li>ng..for - This may make you loopy</li>
                    </a>
            </ol>
        </main>
    </div>
</body>
</html>