
.codebox {
    background-color: #111;
    color: #eee;
    font-family: monospace;
    padding: 10px;
    margin: 20px;

    p {
        margin: 5px;
    }

    .ind1 {
        text-indent: 20px;
    }

    .ind2 {
        text-indent: 40px;
    }

    .ind3 {
        text-indent: 60px;
    }
}

.lucky-box {
    background-color: $color-1;
    color: #eee;
    padding: 10px;
    display: flex;
    align-items: center;
    margin: 20px;

    p {
        margin-left: 50px;
    }

    .lucky-right-bg {
        height: 100px;
        width: 100px;
        background: url('../img/lucky-right.jpg');
        background-size: cover;
    }

    .lucky-lookat-bg {
        height: 100px;
        width: 100px;
        background: url('../img/lucky-lookat.jpg');
        background-size: cover;
    }

    .lucky-why-bg {
        height: 100px;
        width: 100px;
        background: url('../img/lucky-why.jpg');
        background-size: cover;
    }

    .lucky-left-bg {
        height: 100px;
        width: 100px;
        background: url('../img/lucky-left.jpg');
        background-size: cover;
    }

    .lucky-expect-bg {
        height: 100px;
        width: 100px;
        background: url('../img/lucky-expect.jpg');
        background-size: cover;
    }

    .lucky-sleep-bg {
        height: 150px;
        width: 150px;
        background: url('../img/lucky-sleep.JPG');
        background-size: cover;
        transform: rotate(90deg);
    }
}

.example {
    background-color: $color-3;
    color: #eee;
    padding: 10px;
}

.result {
    background-color: darken($color-2, 10);
    color: #eee;
    padding: 10px;
    font-size: 10px;
    p {
        margin: 3px;
    }
}

a {
    color: $color-2;
    text-decoration: none;
    transition: 0.3s all;

    &:hover {
        color: lighten($color-2, 10);
    }
}

footer {
    display: flex;
    justify-content: space-between;
}

body {
    background: $background;
    font-family: 'Lato', sans-serif;
    min-height: 100vh;
    padding: 0px 30px;
}

header {
    color: $color-1;
    text-align: center;
}

h3 {
    color: $color-2;
    font-weight: 300;
}

h4 {
    color: $color-3;
}

.highlight {
    color: yellow;
}